<h1>Welcome to the Gif Generator!</h1>
<h3>Login Here:</h3>

<%= form_tag login_path, method: :post do %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %><br>
<hr>
<%= image_tag "#{Giphy.random('dog').image_url.to_s}" %>
<hr>
Not registered yet? <%= link_to "Create a new account already!", new_user_path %>
<hr>
