<h1>Create a New User Account</h1><br>

<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>

<% end %>

<hr>
<p>See how much fun this is going to be?</p><br>
<%= image_tag "#{Giphy.random('fun').image_url.to_s}" %>
<hr>
