<h1>Category Index - Admin </h1>

<% @categories.each do |category| %>
  <div class="category_<%= category.id %>">
    <%= category.search_term %>
    <%= link_to "Delete", admin_category_path(category), method: :delete %>
  </div>
<% end %><br>

<%= link_to "Add a new Category", new_admin_category_path %><br>
<hr>
<%= link_to "Let's generate some gifs!", new_admin_gif_path %>
