<h1>Hello Admin!</h1>

<hr>
<h3>What would you like to do today?</h3>
<hr>
<p><%= link_to "View all users", admin_users_path %></p>
<p><%= link_to "Add a new user or admin", new_admin_user_path %></p>
<p><%= link_to "Add a new category", new_admin_category_path %></p>
<p><%= link_to "Check out all the gifs", admin_gifs_path %></p>
<p><%= link_to "Generate new GIF", new_admin_gif_path %></p>
<hr>
