<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class:"flash_#{type}" %>
  <% end %>

  <% if logged_in? %>
  <p><%= "Logged in as #{current_user.username}" %></p>
  <p> <%= link_to "Logout", logout_path %> </p>
  <% else  %>
  <p> <%= link_to "Login", login_path %> </p>
  <% end %>
<div align="center">
<%= yield %>
</div>
</body>
</html>
